  
    html{
        font-family: 'Comic Sans';
        font-weight: 300;
        background-color: purple
    }

    h1{ 
        color: grey;
        font-family: 'Comic Sans'
    }

    h2{ 
        color: grey;
        font-family: 'Comic Sans'
    }

    p{ 
        color: grey;
        font-family: 'Comic Sans'
    }
    

    button{ 
        color: grey; 
        font-family: 'Comic Sans'
    }
