  
    html{
        font-family: "Comic Sans, Papyrus, arial";
        font-weight: 300;
        background-color: purple
    }

    h1{ 
        font-family: "Comic Sans, Papyrus, arial";
        color: grey
    }

    h2{ 
        font-family: "Comic Sans, Papyrus, arial";
        color: grey
    }

    p{ 
        font-family: "Comic Sans, Papyrus, arial";
        color: grey
    }
    

    button{ 
        font-family: "Comic Sans, Papyrus, arial";
        color: grey;
        background-color: purple
    }
